.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  color: red;
}

.text {
  color: rgb(133, 39, 39);
  text-shadow: red 2px 2px 2px;
}

.btn {
  border: rgb(83, 62, 62) 1px solid;
  border-radius: 20px;
  padding: 5px 20px;
}

.btn:hover {
  background-color: rgb(94, 34, 34);
  color: white;
  transition: 0.5s ease;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
